<footer class="flex p-m fixed w-full bottom-0 bg-white border-grey-light border-t z-50 text-xs">
  <div class="w-full text-center">
    <div class="flex items-center justify-center">
      <!-- <div class="mr-l">
          <a href="{{ site.baseurl }}/support">
            Developer Support
          </a>
      </div> -->
      <div class="mr-l">
          <a href="http://status.shipcloud.io" target="_blank" rel="noopener noreferrer">
            <span class="color-dot"></span>
            <span class="color-description"></span>
          </a>
      </div>
      <div class="mr-l">
        <a href="mailto:{{ site.email }}">
          <i class="fas fa-envelope-open text-grey-darker"></i>
          {{ site.email }}
        </a>
      </div>
      <div class="mr-l">
        <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github text-grey-darker"></i>
          <span class="username">{{ site.github_username }}</span>
        </a>
      </div>
      <div class="mr-l">
        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter text-grey-darker"></i>
          <span class="username">{{ site.twitter_username }}</span>
        </a>
      </div>
      <div class="mr-l">
          <a href="https://www.shipcloud.io/en/privacy" target="_blank" rel="noopener noreferrer">
            Privacy Statement
          </a>
      </div>
      <a href="https://app.shipcloud.io/de/users/sign_up?plan=developer">
        <button class="leading-none text-green font-medium py-2 px-4 border rounded border-green hover:border-orange hover:text-orange hover:text-orange">
          Register as a developer
        </button>
      </a>
    </div>
  </div>
</footer>
