<nav class="fixed flex w-full h-16 top-0 bg-white border-grey-light border-b z-50 items-center self-center">
  <div class="fixed pl-m w-56">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img alt="shipcloud logo" src="{{ site.baseurl }}/assets/images/logos/shipcloud_logo.png" class="w-4/5">
    </a>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:border-white" data-controller="toggle-element" data-target="#main-nav">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div class="flex ml-56 w-full">
    <div class="px-4 w-7/12 text-sm self-center">
      <form>
        <div class="flex">
          <i class="fas fa-search my-2 mr-m"></i>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 inline-block text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="search" type="text" placeholder="Search">
        </div>
      </form>
    </div>
    <div class="px-4 pr-m w-4/12 flex-grow self-center">
      <a href="{{ site.baseurl }}/support" class="text-xs mr-l">
        Developer Support
      </a>
      <a href="https://support.shipcloud.io" target="_blank" rel="noopener noreferrer" class="text-xs mr-l">
        Help Center
      </a>
      <a href="https://app.shipcloud.io/users/sign_in/" target="_blank" rel="noopener noreferrer" class="text-xs">
        Login
      </a>
    </div>
  </div>
</nav>
