$red: #e74c3c;
$orange: #e67e22;
$yellow: #f1c40f;
$green: #2ecc71;

.color-dot {
  -moz-border-radius: 99px;
  -webkit-border-radius: 99px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;

  &.critical {
    background-color: $red;
  }

  &.major {
    background-color: $orange;
  }

  &.minor {
    background-color: $yellow;
  }

  &.none {
    background-color: $green;
  }
}
