.color-dot {
  border-radius: 99px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.color-dot.critical {
  background-color: #e74c3c;
}

.color-dot.major {
  background-color: #e67e22;
}

.color-dot.minor {
  background-color: #f1c40f;
}

.color-dot.none {
  background-color: #2ecc71;
}

