<h2 id="{{ site.data.carriers[page.carrier].interfaces.[include.carrier_interface].display_name | slugify }}" class="text-blue mb-l">
  {{ site.data.carriers[page.carrier].interfaces.[include.carrier_interface].display_name }}
</h2>

{% if site.data.carriers[page.carrier].interfaces.[include.carrier_interface].in_beta %}
  {% capture beta_notice_file %}{% include examples/carriers/{{ page.carrier }}/{{ include.carrier_interface }}/beta_notice.html %}{% endcapture %}
  <div class="bg-teal border-t-4 border-blue-dark text-white rounded-b px-4 py-3 shadow-md my-2 mb-l" role="alert">
    <div class="flex">
      <p>
        <i class="fas fa-info-circle h-6 w-6 mr-4"></i>
      </p>
      {{ beta_notice_file }}
    </div>
  </div>
{% endif %}

{% assign implementations = site.data.carriers[page.carrier].interfaces[include.carrier_interface].implementations.shipcloud %}

{% assign largest_array_size = 0 %}
{% for implementation in implementations %}
    {% assign implementation_name=implementation[0] %}
    {% assign entries=site.data.carriers[page.carrier].interfaces[include.carrier_interface].implementations.shipcloud.[implementation_name] %}
    {% if implementation_name != "field_lengths" and entries.size > largest_array_size %}
        {% assign largest_array_size = entries.size %}
    {% endif %}
{% endfor %}
{% assign largest_array_size = largest_array_size | minus: 1 %}

{% assign additional_services_entries = site.data.carriers[page.carrier].interfaces[include.carrier_interface].implementations.shipcloud.additional_services %}
{% assign other_attributes_entries = site.data.carriers[page.carrier].interfaces[include.carrier_interface].implementations.shipcloud.other_attributes %}

{% assign entries=site.data.carriers[page.carrier].interfaces.[include.carrier_interface].implementations.shipcloud.carrier_specifics %}
{% if entries.size > 0 %}
  <section class="mb-xl">
    <h3 id="{{include.carrier_interface | slugify}}-carrier-specifics" class="text-blue mb-m">
      Carrier specifics
    </h3>
    {% include utils/carrier_interface_entry_iterator.html entries=entries type='carrier_specifics' carrier_interface=include.carrier_interface %}
  </section>
{% endif %}

{% assign entries=site.data.carriers[page.carrier].interfaces.[include.carrier_interface].implementations.shipcloud.services %}
{% if entries.size > 0 %}
  <section class="mb-xl">
    <h3 id="{{include.carrier_interface | slugify}}-services" class="text-blue mb-m">
      Services
    </h3>
    {% include utils/carrier_interface_entry_iterator.html entries=entries type='services' carrier_interface=include.carrier_interface %}
  </section>
{% endif %}

{% assign entries=site.data.carriers[page.carrier].interfaces.[include.carrier_interface].implementations.shipcloud.package_types %}
{% if entries.size > 0 %}
  <section class="mb-xl">
    <h3 id="{{include.carrier_interface | slugify}}-package-types" class="text-blue">
      Package types
    </h3>
    {% include utils/carrier_interface_entry_iterator.html entries=entries type='package_types' carrier_interface=include.carrier_interface %}
  </section>
{% endif %}

{% if additional_services_entries.size > 0 %}
  <section class="mb-xl">
    <h3 id="{{include.carrier_interface | slugify}}-additional-services" class="text-blue">
        Additional services
    </h3>
    {% include utils/carrier_interface_entry_iterator.html entries=additional_services_entries type='additional_services' carrier_interface=include.carrier_interface %}
  </section>
{% endif %}

{% if other_attributes_entries.size > 0 %}
  <section class="mb-xl">
    <h3 id="{{include.carrier_interface | slugify}}-other-attributes" class="text-blue">
        Other attributes
    </h3>
    {% include utils/carrier_interface_entry_iterator.html entries=other_attributes_entries type='other_attributes' carrier_interface=include.carrier_interface %}
  </section>
{% endif %}

{% assign label_formats=site.data.carriers[page.carrier].interfaces.[include.carrier_interface].implementations.shipcloud.label_formats %}
{% if label_formats.size > 0 %}
  <section class="mb-xl">
    <h3 id="{{include.carrier_interface | slugify}}-label-formats" class="text-blue">
        Label formats
    </h3>
    {% include utils/carrier_interface_entry_iterator.html entries=label_formats type='label_formats' %}
</section>
{% endif %}

{% assign pickup_requests_entries=site.data.carriers[page.carrier].interfaces.[include.carrier_interface].implementations.shipcloud.pickup_requests %}
{% if pickup_requests_entries.size > 0 %}
  <section class="mb-xl">
    <h3 id="{{include.carrier_interface | slugify}}-pickup-requests" class="text-blue">
        Pickup Requests
    </h3>
    {% include utils/carrier_interface_entry_iterator.html entries=pickup_requests_entries type='pickup_requests' carrier_interface=include.carrier_interface %}
  </section>
{% endif %}

{% assign misc_entries=site.data.carriers[page.carrier].interfaces.[include.carrier_interface].implementations.shipcloud.misc %}
{% if misc_entries.size > 0 %}
  <section class="mb-xl">
    <h3 id="{{include.carrier_interface | slugify}}-misc" class="text-blue">
        Misc
    </h3>
    {% include utils/carrier_interface_entry_iterator.html entries=misc_entries type='misc' carrier_interface=include.carrier_interface %}
  </section>
{% endif %}

{% assign entries=site.data.carriers[page.carrier].interfaces.[include.carrier_interface].implementations.shipcloud.field_lengths %}
{% if entries.size > 0 %}
  <section class="mb-xl">
    <h3 id="{{include.carrier_interface | slugify}}-field-lengths" class="text-blue">
        Field lengths
    </h3>
    {% include utils/json_level_iterator.html entries=entries %}
  </section>
{% endif %}
