<div class="row">
  <div class="col-md-12">
    Some services are only available when using a specific carrier.
    <table class="table table-hover carrier additional-services">
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/ups.png" title="UPS" alt="UPS" />
        </td>
        <td>
          <a href="{{ site.baseurl }}/examples/#ups---adult-signature">
            Adult signature
          </a>,
          <a href="{{ site.baseurl }}/examples/#ups---cash-on-delivery">
            Cash on delivery
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dhl.png" title="DHL" alt="DHL" />
        </td>
        <td>
          <a href="{{ site.baseurl }}/examples/#dhl---advance-notice">
            Advance notice
          </a>,
          <a href="{{ site.baseurl }}/examples/#dhl---cash-on-delivery">
            Cash on delivery
          </a>,
          <a href="{{ site.baseurl }}/examples/#dhl---delivery-time-preferred-time">
            Delivery time
          </a>,
          <a href="{{ site.baseurl }}/examples/#dhl---ident-check">
            Ident check
          </a>,
          <a href="{{ site.baseurl }}/examples/#dhl---premium-international">
            Premium international
          </a>,
          <a href="{{ site.baseurl }}/examples/#dhl---visual-age-check">
            Visual age check
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dhl_express.png" title="DHL Express" alt="DHL Express" />
        </td>
        <td>
          <a href="{{ site.baseurl }}/examples/#dhl-express---saturday-delivery">
            Saturday delivery
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dpd.png" title="DPD" alt="DPD" />
        </td>
        <td>
          <a href="{{ site.baseurl }}/examples/#dpd---predict">
            Advance notice
          </a>,
          <a href="{{ site.baseurl }}/examples/#dpd---drop-authorization">
            Drop authorization
          </a>,
          <a href="{{ site.baseurl }}/examples/#dpd---saturday-delivery">
            Saturday delivery
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/gls.png" title="GLS" alt="GLS" />
        </td>
        <td>
          <a href="{{ site.baseurl }}/examples/#gls---cash-on-delivery">
            Cash on delivery
          </a>,
          <a href="{{ site.baseurl }}/examples/#gls---flexdeliveryservice">
            FlexDeliveryService
          </a>,
          <a href="{{ site.baseurl }}/examples/#gls---guaranteed24service">
            Guaranteed24Service
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
