<div class="row">
  <div class="col-md-12">
    <table class="table services">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/ups.png" title="UPS" alt="UPS" />
          </th>
          <th>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dhl.png" title="DHL" alt="DHL" />
          </th>
          <th>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/hermes.png" title="Hermes" alt="Hermes" />
          </th>
          <th>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/gls.png" title="GLS" alt="GLS" />
          </th>
          <th>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dpd.png" title="DPD" alt="DPD" />
          </th>
          <th>MyDPD<br />Business<sup>*</sup></th>
          <th>FedEx</th>
          <th>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/liefery.png" title="Liefery" alt="Liefery" />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>standard</td>
          <td>A5 / A6</td>
          <td>A5 / A6</td>
          <td>A5</td>
          <td>A5 / A6</td>
          <td>A5 / A6</td>
          <td>A5 / A6</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>one_day</td>
          <td>A5 / A6</td>
          <td>A5</td>
          <td>-</td>
          <td>A5 / A6</td>
          <td>A5 / A6</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>one_day_early</td>
          <td>A5 / A6</td>
          <td>A5</td>
          <td>-</td>
          <td>-</td>
          <td>A5 / A6</td>
          <td>-</td>
          <td>A5</td>
          <td>-</td>
        </tr>
        <tr>
          <td>same_day</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>A5</td>
        </tr>
        <tr>
          <td>returns</td>
          <td>A5 / A6</td>
          <td>A5</td>
          <td>A5</td>
          <td>-</td>
          <td>A5 / A6</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
