<div class="row">
  <div class="col-md-12">
    <table class="table table-hover carrier label-sizes">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>standard</th>
          <th>one_day</th>
          <th>one_day_early</th>
          <th>same_day</th>
          <th>returns</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/ups.png" title="UPS" alt="UPS" />
          </td>
          <td>
            A5 / A6
          </td>
          <td>
            A5 / A6
          </td>
          <td>
            A5 / A6
          </td>
          <td>
            -
          </td>
          <td>
            A5 / A6
          </td>
        </tr>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dhl.png" title="DHL" alt="DHL" />
          </td>
          <td>
            A5 / A6
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td>
            A5
          </td>
        </tr>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dhl_express.png" title="DHL Express" alt="DHL Express" />
          </td>
          <td>
            -
          </td>
          <td>
            A5/A6
          </td>
          <td>
            A5/A6
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
        </tr>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/deutsche_post.png" title="Deutsche Post" alt="Deutsche Post" />
          </td>
          <td>
            A5 / A6
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
        </tr>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/hermes.png" title="Hermes" alt="Hermes" />
          </td>
          <td>
            A5
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td>
            A5
          </td>
        </tr>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/gls.png" title="GLS" alt="GLS" />
          </td>
          <td>
            A5 / A6
          </td>
          <td>
            A5 / A6
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
        </tr>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dpd.png" title="DPD" alt="DPD" />
          </td>
          <td>
            A5 / A6
          </td>
          <td>
            A5 / A6
          </td>
          <td>
            A5 / A6
          </td>
          <td>
            -
          </td>
          <td>
            A5 / A6
          </td>
        </tr>
        <tr>
          <td class="carrier carrier__logo">
            MyDPD<br />Business<sup>*</sup>
          </td>
          <td>
            A5 / A6
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
        </tr>
        <tr>
          <td class="carrier carrier__logo">
            FedEx
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td>
            A5
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
        </tr>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/go.png" title="GO!" alt="GO!" />
          </td>
          <td>
            -
          </td>
          <td>
            A5
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
        </tr>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/tnt.png" title="TNT" alt="TNT" />
          </td>
          <td>
            -
          </td>
          <td>
            A5
          </td>
          <td>
            A5
          </td>
          <td>
            -
          </td>
          <td>
            -
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
