<div class="row">
  <div class="col-md-4">
    <table class="table table-hover carrier other-attributes">
      <thead>
        <tr>
          <th style="width:80px"></th>
          <th>
            <a href="{{ site.baseurl }}/recipes/#dhl-higher-insurance">
              declared_value
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/ups.png" title="UPS" alt="UPS" />
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
        </tr>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dhl.png" title="DHL" alt="DHL" />
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
        </tr>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/deutsche_post.png" title="Deutsche Post" alt="Deutsche Post" />
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/hermes.png" title="Hermes" alt="Hermes" />
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/gls.png" title="GLS" alt="GLS" />
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dpd.png" title="DPD" alt="DPD" />
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
        <tr>
          <td class="carrier carrier__logo">
            MyDPD<br />Business<sup>*</sup>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
        <tr>
          <td class="carrier carrier__logo">
            FedEx
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
        <tr>
          <td>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/liefery.png" title="Liefery" alt="Liefery" />
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
        <tr>
          <td class="carrier carrier__logo">
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/go.png" title="GO!" alt="GO!" />
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
