<div class="row">
  <div class="col-md-12">
    Depending on the size of a package you might have to specify an attribute called
    <em>package_type</em> when specifying the package dimensions.
    <table class="table services">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/ups.png" title="UPS" alt="UPS" />
          </th>
          <th>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dhl.png" title="DHL" alt="DHL" />
          </th>
          <th>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/hermes.png" title="Hermes" alt="Hermes" />
          </th>
          <th>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/gls.png" title="GLS" alt="GLS" />
          </th>
          <th>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dpd.png" title="DPD" alt="DPD" />
          </th>
          <th>MyDPD<br />Business<sup>*</sup></th>
          <th>FedEx</th>
          <th>
            <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/liefery.png" title="Liefery" alt="Liefery" />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="{{ site.baseurl }}/recipes/#dhl-bulk-shipments">
              bulk
            </a>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{ site.baseurl }}/recipes/#dpd-parcel-letter">
              parcel_letter
            </a>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
