<div class="row">
  <div class="col-md-12">
    Depending on the size of a package you might have to specify an attribute called
    <em>package_type</em> when specifying the package dimensions.
    <table class="table table-hover carrier package-types">
      <tr>
        <td style="width:15%">
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/ups.png" title="UPS" alt="UPS" />
        </td>
        <td>
          Parcel
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dhl.png" title="DHL" alt="DHL" />
        </td>
        <td>
          Parcel,
          <a href="{{ site.baseurl }}/examples/#dhl---bulk-shipments">
            Bulk
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dhl_express.png" title="DHL Express" alt="DHL Express" />
        </td>
        <td>
          Parcel
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/deutsche_post.png" title="Deutsche Post" alt="Deutsche Post" />
        </td>
        <td>
          <a href="{{ site.baseurl }}/examples/#deutsche-post---brief">
            Letter,
          </a>
          <a href="{{ site.baseurl }}/examples/#deutsche-post---büchersendung">
            Books
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/hermes.png" title="Hermes" alt="Hermes" />
        </td>
        <td>
          Parcel
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/gls.png" title="GLS" alt="GLS" />
        </td>
        <td>
          Parcel
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dpd.png" title="DPD" alt="DPD" />
        </td>
        <td>
          Parcel,
          <a href="{{ site.baseurl }}/examples/#dpd---parcel-letter">
            Parcel letter
          </a>
        </td>
      </tr>
      <tr>
        <td class="carrier carrier__logo">
          MyDPD<br />Business<sup>*</sup>
        </td>
        <td>
          Parcel
        </td>
      </tr>
      <tr>
        <td class="carrier carrier__logo">
          FedEx
        </td>
        <td>
          Parcel
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/go.png" title="GO!" alt="GO!" />
        </td>
        <td>
          Parcel
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/parcel_one.png" title="PARCEL.ONE" alt="PARCEL.ONE" />
        </td>
        <td>
          Parcel, Parcel letter
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/seven_senders.png" title="Seven Senders" alt="Seven Senders" />
        </td>
        <td>
          Parcel
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/tnt.png" title="TNT" alt="TNT" />
        </td>
        <td>
          Parcel
        </td>
      </tr>
    </table>
  </div>
</div>
