<div class="row">
  <div class="col-md-12">
    <table class="table table-hover carrier services">
      <tr>
        <td style="width:15%">
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/ups.png" title="UPS" alt="UPS" />
        </td>
        <td>
          standard, one_day, one_day_early, <a href="{{ site.baseurl }}/examples/#ups---express-1200">ups_express_1200</a>, returns, collections
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dhl.png" title="DHL" alt="DHL" />
        </td>
        <td>
          standard, returns, <a href="{{ site.baseurl }}/examples/#dhl---europaket">dhl_europaket</a>
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dhl_express.png" title="DHL Express" alt="DHL Express" />
        </td>
        <td>
          one_day, one_day_early, collections
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/deutsche_post.png" title="Deutsche Post" alt="Deutsche Post" />
        </td>
        <td>
          standard,
          <a href="{{ site.baseurl }}/examples/#deutsche-post---warenpost">
            dpag_warenpost
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/hermes.png" title="Hermes" alt="Hermes" />
        </td>
        <td>
          standard, returns, collections
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/gls.png" title="GLS" alt="GLS" />
        </td>
        <td>
          standard, one_day
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/dpd.png" title="DPD" alt="DPD" />
        </td>
        <td>
          standard, one_day, one_day_early, returns, collections
        </td>
      </tr>
      <tr>
        <td class="carrier carrier__logo">
          MyDPD<br />Business<sup>*</sup>
        </td>
        <td>
          standard
        </td>
      </tr>
      <tr>
        <td class="carrier carrier__logo">
          FedEx
        </td>
        <td>
          one_day_early
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/go.png" title="GO!" alt="GO!" />
        </td>
        <td>
          one_day
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/seven_senders.png" title="Seven Senders" alt="Seven Senders" />
        </td>
        <td>
          standard
        </td>
      </tr>
      <tr>
        <td>
          <img class="carrier-logo--table-header" src="{{site.baseurl}}/assets/images/logos/carriers/tnt.png" title="TNT" alt="TNT" />
        </td>
        <td>
          one_day, one_day_early, collections
        </td>
      </tr>
    </table>
  </div>
</div>
