<div class="row">
  <div class="col-md-12">
    <table class="table services">
      <thead>
        <tr>
          <th></th>
          <th>Standard</th>
          <th>Returns</th>
          <th>Bulky items</th>
          <th>Express</th>
          <th>Collections</th>
          <th>Same day</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>DHL</td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
        <tr>
          <td>UPS</td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
        <tr>
          <td>FedEx</td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
        <tr>
          <td>Hermes</td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
        <tr>
          <td>GLS</td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-info-sign"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
        <tr>
          <td>DPD</td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-info-sign"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
        <tr>
          <td>My DPD Business / iloxx</td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
        </tr>
        <tr>
          <td>Liefery</td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ban-circle"></div>
          </td>
          <td>
            <div class="glyphicon glyphicon-ok-circle"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
