<table class="table-fixed text-left mt-m w-full text-sm xxl:text-base">
  <thead>
    <tr>
      <th class="px-4 py-2 border-b bg-grey-light">Type</th>
      <th class="px-4 py-2 border-b bg-grey-light border-r">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="px-4 py-2 border-b border-l">shipment.status.deleted</td>
      <td class="px-4 py-2 border-b border-r">A label has been deleted</td>
    </tr>
    <tr>
      <td class="px-4 py-2 border-b border-l">shipment.tracking.label_created</td>
      <td class="px-4 py-2 border-b border-r">A label has been created</td>
    </tr>
    <tr>
      <td class="px-4 py-2 border-b border-l">shipment.tracking.picked_up</td>
      <td class="px-4 py-2 border-b border-r">Shipment was picked up by carrier</td>
    </tr>
    <tr>
      <td class="px-4 py-2 border-b border-l">shipment.tracking.transit</td>
      <td class="px-4 py-2 border-b border-r">Shipment is in transit</td>
    </tr>
    <tr>
      <td class="px-4 py-2 border-b border-l">shipment.tracking.out_for_delivery</td>
      <td class="px-4 py-2 border-b border-r">Out for delivery</td>
    </tr>
    <tr>
      <td class="px-4 py-2 border-b border-l">shipment.tracking.delivered</td>
      <td class="px-4 py-2 border-b border-r">Delivered</td>
    </tr>
    <tr>
      <td class="px-4 py-2 border-b border-l">shipment.tracking.awaits_pickup_by_receiver</td>
      <td class="px-4 py-2 border-b border-r">Awaiting pickup by the receiver</td>
    </tr>
    <tr>
      <td class="px-4 py-2 border-b border-l">shipment.tracking.canceled</td>
      <td class="px-4 py-2 border-b border-r">label has been deleted</td>
    </tr>
    <tr>
      <td class="px-4 py-2 border-b border-l">shipment.tracking.delayed</td>
      <td class="px-4 py-2 border-b border-r">Delivery will be delayed</td>
    </tr>
    <tr>
      <td class="px-4 py-2 border-b border-l">shipment.tracking.exception</td>
      <td class="px-4 py-2 border-b border-r">There's a problem with the shipment</td>
    </tr>
    <tr>
      <td class="px-4 py-2 border-b border-l">shipment.tracking.not_delivered</td>
      <td class="px-4 py-2 border-b border-r">Not delivered</td>
    </tr>
    <tr>
      <td class="px-4 py-2 border-b border-l">shipment.tracking.destroyed</td>
      <td class="px-4 py-2 border-b border-r">
        Destroyed by customs or other higher authorities.
      </td>
    </tr>
    <tr>
      <td class="px-4 py-2 border-b border-l">shipment.tracking.notification</td>
      <td class="px-4 py-2 border-b border-r">
        Carrier internal notification. Tracking events within the shipment
        will carry more elaborate information.
      </td>
    </tr>
    <tr>
      <td class="px-4 py-2 border-b border-l">shipment.tracking.unknown</td>
      <td class="px-4 py-2 border-b border-r">Status unknown</td>
    </tr>
  </tbody>
</table>

<h3 id="event-type-shipment-delete" class="text-blue mt-m">
  Event type shipment delete
</h3>

<p class="mt-m">
  When subscribing to this event type, you will get notified when a shipment has been deleted at
  shipcloud.
</p>

<p class="mt-m">
  <strong>Notice:</strong>
  For the <code>shipment.status.deleted</code> event type, the payload differs a little bit to the
  example mentioned above. Since the shipment doesn't exist anymore, we do not return a URL to the
  ressource.
</p>

<div class="mt-m">
{% highlight json %}
{
  "id":"b826b716-9da9-4960-992b-7999574886a4",
  "occured_at":"2020-05-28T06:44:26+02:00",
  "type":"shipment.status.deleted",
  "data":{
    "id":"0ba10fb9af418e9c159a5449219f722e99fba788",
    "object_type":"shipment"
  },
  "webhook_id":"27f54ad2-f166-42b2-9de5-76acb3cf107b"
}
{% endhighlight %}
</div>
