<div class="row">
  <div class="col-md-12">
    <table class="table webhooks_legend">
      <thead>
        <tr>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="label label-info">shipment.tracking.label_created</span></td>
          <td>A label has been created</td>
        </tr>
        <tr>
          <td><span class="label label-info">shipment.tracking.picked_up</span></td>
          <td>Shipment was picked up by carrier</td>
        </tr>
        <tr>
          <td><span class="label label-info">shipment.tracking.transit</span></td>
          <td>Shipment is in transit</td>
        </tr>
        <tr>
          <td><span class="label label-info">shipment.tracking.out_for_delivery</span></td>
          <td>Out for delivery</td>
        </tr>
        <tr>
          <td><span class="label label-info">shipment.tracking.delivered</span></td>
          <td>Delivered</td>
        </tr>
        <tr>
          <td><span class="label label-info">shipment.tracking.awaits_pickup_by_receiver</span></td>
          <td>Awaiting pickup by the receiver</td>
        </tr>
        <tr>
          <td><span class="label label-info">shipment.tracking.canceled</span></td>
          <td>label has been deleted</td>
        </tr>
        <tr>
          <td><span class="label label-info">shipment.tracking.delayed</span></td>
          <td>Delivery will be delayed</td>
        </tr>
        <tr>
          <td><span class="label label-info">shipment.tracking.exception</span></td>
          <td>There's a problem with the shipment</td>
        </tr>
        <tr>
          <td><span class="label label-info">shipment.tracking.not_delivered</span></td>
          <td>Not delivered</td>
        </tr>
        <tr>
          <td><span class="label label-info">shipment.tracking.destroyed</span></td>
          <td>
            Destroyed by customs or other higher authorities.
          </td>
        </tr>
        <tr>
          <td><span class="label label-info">shipment.tracking.notification</span></td>
          <td>
            Carrier internal notification. Tracking events within the shipment
            will carry more elaborate information.
          </td>
        </tr>
        <tr>
          <td><span class="label label-info">shipment.tracking.unknown</span></td>
          <td>Status unknown</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
