<div id="sub-nav" data-spy="affix">
  <ul class="nav">
    <li>
      <a href="#api">API</a>
      <ul class="nav">
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#authentication">Authentication</a></li>
        <li><a href="#parameters">Parameters</a></li>
        <li><a href="#versioning">Versioning</a></li>
        <li><a href="#address-handling">Address handling</a></li>
        <li><a href="#metadata">Metadata</a></li>
        <li><a href="#timeouts">Timeouts</a></li>
      </ul>
    </li>
    <li>
      <a href="#carrier-specifics">Carrier specifics</a>
      <ul class="nav">
        <li><a href="#carrier-specific-address-handling">Carrier specific address handling</a></li>
        <li><a href="#carrier-specific-field-lengths">Carrier specific field lengths</a></li>
      </ul>
    </li>
    <li>
      <a href="#supported-services">Supported services</a>
    </li>
    <li>
      <a href="#sandbox-vs-production">Sandbox vs. Production</a>
      <ul class="nav">
        <li><a href="#keys">Keys</a></li>
      </ul>
    </li>
    <li>
      <a href="#plan-up-downgrades">Plan up-/downgrades</a>
    </li>
    <li>
      <a href="#prices--vat">Prices & VAT</a>
    </li>
    <li>
      <a href="#webhooks">Webhooks</a>
      <ul class="nav">
        <li><a href="#event-types">Event types</a></li>
        <li><a href="#configuration">Configuration</a></li>
        <li><a href="#testing">Testing</a></li>
      </ul>
    </li>
  </ul>
</div>
