<div id="sub-nav" data-spy="affix">
  <ul class="nav">
    <li>
      <a href="#api">API</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#introduction">Introduction</a></li>
        <li class="nav--level-2"><a href="#authentication">Authentication</a></li>
        <li class="nav--level-2"><a href="#parameters">Parameters</a></li>
        <li class="nav--level-2"><a href="#versioning">Versioning</a></li>
        <li class="nav--level-2"><a href="#address-handling">Address handling</a></li>
        <li class="nav--level-2"><a href="#metadata">Metadata</a></li>
        <li class="nav--level-2"><a href="#timeouts">Timeouts</a></li>
      </ul>
    </li>
    <li>
      <a href="#carrier-specifics">Carrier specifics</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#carrier-specific-address-handling">Carrier specific address handling</a></li>
        <li class="nav--level-2"><a href="#carrier-specific-field-lengths">Carrier specific field lengths</a></li>
        <li class="nav--level-2"><a href="#carrier-specific-label-sizes">Carrier specific label sizes</a></li>
        <li class="nav--level-2"><a href="#carrier-specific-cutoff-times">Carrier specific cutoff times</a></li>
        <li class="nav--level-2"><a href="#misc-carrier-specifics">Misc carrier specifics</a></li>
      </ul>
    </li>
    <li>
      <a href="#supported-services">Supported services</a>
      <ul class="nav">
        <li class="nav--level-2">
          <a href="#additional-services">Additional services</a>
        </li>
        <li class="nav--level-2">
          <a href="#package-types">Package types</a>
        </li>
        <li class="nav--level-2">
          <a href="#other-attributes">Other attributes</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#sandbox-vs-production">Sandbox vs. Production</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#keys">Keys</a></li>
        <li class="nav--level-2"><a href="#shipment-prices">Shipment prices</a></li>
        <li class="nav--level-2"><a href="#cleanup">Cleanup</a></li>
      </ul>
    </li>
    <li>
      <a href="#plan-up-downgrades">Plan up-/downgrades</a>
    </li>
    <li>
      <a href="#prices--vat">Prices & VAT</a>
    </li>
    <li>
      <a href="#webhooks">Webhooks</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#event-types">Event types</a></li>
        <li class="nav--level-2"><a href="#catch-all-webhooks">Catch all webhooks</a></li>
        <li class="nav--level-2"><a href="#configuration">Configuration</a></li>
        <li class="nav--level-2"><a href="#testing">Testing</a></li>
        <li class="nav--level-2"><a href="#automatic-deactivation">Automatic deactivation</a></li>
      </ul>
    </li>
  </ul>
</div>
