<nav id="sidenav" class="px-4">
  <ul class="list-inside">
    <li class="ml-0">
      <a href="#api">API</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#introduction">Introduction</a></li>
        <li class="nav--level-2"><a href="#authentication">Authentication</a></li>
        <li class="nav--level-2"><a href="#parameters">Parameters</a></li>
        <li class="nav--level-2"><a href="#sanitization">Sanitization</a></li>
        <li class="nav--level-2"><a href="#versioning">Versioning</a></li>
        <li class="nav--level-2"><a href="#address-handling">Address handling</a></li>
        <li class="nav--level-2"><a href="#label-format">Label format</a></li>
        <li class="nav--level-2"><a href="#multi-package-shipments">Multi package shipments</a></li>
        <li class="nav--level-2"><a href="#metadata">Metadata</a></li>
        <li class="nav--level-2"><a href="#timeouts">Timeouts</a></li>
      </ul>
    </li>
    <li class="mt-m ml-0">
      <a href="#sandbox-vs-production">Sandbox vs. Production</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#keys">Keys</a></li>
        <li class="nav--level-2"><a href="#shipment-prices">Shipment prices</a></li>
        <li class="nav--level-2"><a href="#cleanup">Cleanup</a></li>
      </ul>
    </li>
    <li class="mt-m ml-0">
      <a href="#plan-up-downgrades">Plan up-/downgrades</a>
    </li>
    <li class="mt-m ml-0">
      <a href="#prices--vat">Prices & VAT</a>
    </li>
    <li class="mt-m ml-0">
      <a href="#pickup-requests">Pickup Requests</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#while-creating-shipments">While creating shipments</a></li>
        <li class="nav--level-2"><a href="#for-existing-shipments">For existing shipments</a></li>
      </ul>
    </li>
    <li class="mt-m ml-0">
      <a href="#webhooks">Webhooks</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#event-types">Event types</a></li>
        <li class="nav--level-2"><a href="#event-type-shipment-delete">Event type shipment delete</a></li>
        <li class="nav--level-2"><a href="#catch-all-webhooks">Catch all webhooks</a></li>
        <li class="nav--level-2"><a href="#configuration">Configuration</a></li>
        <li class="nav--level-2"><a href="#testing">Testing</a></li>
        <li class="nav--level-2"><a href="#developer-accounts">Developer accounts</a></li>
        <li class="nav--level-2"><a href="#automatic-deactivation">Automatic deactivation</a></li>
      </ul>
    </li>
  </ul>
</nav>
