<div id="sub-nav" data-spy="affix">
  <ul class="nav">
    <li>
      <a href="#additional-services">Additional services</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#advance-notice">Advance notice</a></li>
        <li class="nav--level-2"><a href="#cash-on-delivery">Cash on delivery</a></li>
        <li class="nav--level-2"><a href="#saturday-delivery">Saturday delivery</a></li>
        <li class="nav--level-2"><a href="#cargo-international---appointment-announcement">Cargo International - Appointment announcement</a></li>
        <li class="nav--level-2"><a href="#dhl---advance-notice">DHL - Advance notice</a></li>
        <li class="nav--level-2"><a href="#dhl---cash-on-delivery">DHL - Cash on delivery</a></li>
        <li class="nav--level-2"><a href="#dhl---delivery-time-preferred-time">DHL - Delivery time</a></li>
        <li class="nav--level-2"><a href="#dhl---ident-check">DHL - Ident Check</a></li>
        <li class="nav--level-2"><a href="#dhl---premium-international">DHL - Premium International</a></li>
        <li class="nav--level-2"><a href="#dhl---visual-age-check">DHL - Visual age check</a></li>
        <li class="nav--level-2"><a href="#dhl-express---saturday-delivery">DHL Express - Saturday delivery</a></li>
        <li class="nav--level-2"><a href="#dpd---drop-authorization">DPD - Drop authorization</a></li>
        <li class="nav--level-2"><a href="#dpd---saturday-delivery">DPD - Saturday delivery</a></li>
        <li class="nav--level-2"><a href="#dpd---predict">DPD - Predict</a></li>
        <li class="nav--level-2"><a href="#gls---cash-on-delivery">GLS - Cash on delivery</a></li>
        <li class="nav--level-2"><a href="#gls---flexdeliveryservice">GLS - FlexDeliveryService</a></li>
        <li class="nav--level-2"><a href="#gls---guaranteed24service">GLS - Guaranteed24Service</a></li>
        <li class="nav--level-2"><a href="#hermes---customer-alert">Hermes - Customer alert</a></li>
        <li class="nav--level-2"><a href="#hermes---identservice">Hermes - IdentService</a></li>
        <li class="nav--level-2"><a href="#ups---adult-signature">UPS - Adult signature</a></li>
        <li class="nav--level-2"><a href="#ups---cash-on-delivery">UPS - Cash on delivery</a></li>
      </ul>
    </li>
    <li><a href="#additional-insurance">Additional insurance</a></li>
    <li><a href="#label-size">Label size</a></li>
    <li>
      <a href="#cargo-international">Cargo International</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#cargo-international---disposable-pallet">Disposable pallet</a></li>
        <li class="nav--level-2"><a href="#cargo-international---euro-pallet">Euro pallet</a></li>
        <li class="nav--level-2"><a href="#cargo-international---large-parcel">Large parcel</a></li>
        <li class="nav--level-2"><a href="#cargo-international---additional-insurance">Additional insurance</a></li>
      </ul>
    </li>
    <li>
      <a href="#dhl">DHL</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#dhl---europaket">Europaket</a></li>
        <li class="nav--level-2"><a href="#dhl---packstation">Packstation</a></li>
        <li class="nav--level-2"><a href="#dhl---postfiliale">Postfiliale</a></li>
        <li class="nav--level-2"><a href="#dhl---additional-insurance">Additional insurance</a></li>
        <li class="nav--level-2"><a href="#dhl---bulk-shipments">Bulk shipments</a></li>
        <li class="nav--level-2"><a href="#dhl---customs-declaration">Customs declaration</a></li>
      </ul>
    </li>
    <li><a href="#dpd---parcel-letter">DPD - Parcel letter</a></li>
    <li>
      <a href="#deutsche-post">Deutsche Post</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#deutsche-post---brief">Brief</a></li>
        <li class="nav--level-2"><a href="#deutsche-post---bücher--und-warenversand">Bücher- und Warenversand</a></li>
        <li class="nav--level-2"><a href="#deutsche-post---warenpost">Warenpost</a></li>
        <li class="nav--level-2"><a href="#deutsche-post---warenpost-international">Warenpost International</a></li>
      </ul>
    </li>
    <li>
      <a href="#gls">GLS</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#gls---incoterms">Incoterms</a></li>
        <li class="nav--level-2"><a href="#gls---pickshipservice">Pick&ShipService</a></li>
        <li class="nav--level-2"><a href="#gls---returns">Returns</a></li>
        <li class="nav--level-2"><a href="#gls---shopdeliveryservice">ShopDeliveryService</a></li>
      </ul>
    </li>
    <li>
      <a href="#hermes">Hermes</a>
      <ul class="nav">
        <li><a href="#hermes---bulk-shipments">Bulk shipments</a></li>
        <li><a href="#hermes---parcelshopdeliveryservice">ParcelShopDeliveryService</a></li>
        <li><a href="#hermes---returns">Returns</a></li>
      </ul>
    </li>
    <li>
      <a href="#parcelone">PARCEL.ONE</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#parcelone---customs-declaration">Customs declaration</a></li>
      </ul>
    </li>
    <li>
      <a href="#ups">UPS</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#ups---customs-declaration-commercial-invoice">Customs declaration</a></li>
        <li class="nav--level-2"><a href="#ups---declared-value">Declared value</a></li>
        <li class="nav--level-2"><a href="#ups---expedited">Expedited</a></li>
        <li class="nav--level-2"><a href="#ups---express-1200">Express 12:00</a></li>
      </ul>
    </li>
    <li><a href="#returns">Returns</a></li>
    <li><a href="#working-with-addresses">Working with addresses</a></li>
    <li>
      <a href="#pakadoo">pakadoo</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#create-a-pakadoo-address-and-shipment-using-the-pakadoo_id">create address and shipment via pakadoo_id</a></li>
        <li class="nav--level-2"><a href="#create-a-shipment-using-the-pakadoo-id-in-the-care_of-attribute">create shipment via care_of</a></li>
      </ul>
    </li>
  </ul>
</div>
