<nav id="sidenav" class="px-4">
  <ul class="list-inside">
    <li class="ml-0">
      <a href="#advance-notice">
        Advance notice
      </a>
    </li>
    <li class="mt-m ml-0">
      <a href="#cash-on-delivery">
        Cash on delivery
      </a>
    </li>
    <li class="mt-m ml-0">
      <a href="#identity-check">
        Identity check
      </a>
    </li>
    <li class="mt-m ml-0">
      <a href="#saturday-delivery">
        Saturday delivery
      </a>
    </li>
    <li class="mt-m ml-0">
      <a href="#order-api">
        Order API
      </a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#return-portal-plus">Return portal plus</a></li>
      </ul>
    </li>
    <li class="mt-m ml-0">
      <a href="#pakadoo">pakadoo</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#create-a-pakadoo-address-and-shipment-using-the-pakadoo_id">create address and shipment via pakadoo_id</a></li>
        <li class="nav--level-2"><a href="#create-a-shipment-using-the-pakadoo-id-in-the-care_of-attribute">create shipment via care_of</a></li>
      </ul>
    </li>
  </ul>
</nav>
