<div id="sub-nav" data-spy="affix">
  <ul class="nav">
    <li>
      <a href="#dhl-packstation">DHL Packstation</a>
      <a href="#dhl-postfiliale">DHL Postfiliale</a>
    </li>
    <li>
      <a href="#additional-services">Additional services</a>
      <ul class="nav">
        <li><a href="#dhl---cash-on-delivery">DHL - Cash on delivery</a></li>
        <li><a href="#dpd---drop-authorization">DPD - Drop authorization</a></li>
        <li><a href="#dpd---saturday-delivery">DPD - Saturday delivery</a></li>
      </ul>
    </li>
  </ul>
</div>
