<nav id="sidenav" class="mb-l px-4">
  <ul class="list-inside">
    <li class="ml-0">
      <a href="#changelog">Changelog</a>
    </li>
    <li class="mt-m ml-0">
      <a href="#http-status-codes">http status codes</a>
    </li>
    <li class="mt-m ml-0">
      <a href="#addresses">Addresses</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#creating-an-address">Create</a></li>
        <li class="nav--level-2"><a href="#getting-a-list-of-addresses">Index</a></li>
        <li class="nav--level-2"><a href="#show-an-address">Read</a></li>
      </ul>
    </li>
    <li class="mt-m ml-0">
      <a href="#carriers">Carriers</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#get-all-carriers-available-for-your-account">All carriers</a></li>
      </ul>
    </li>
    <li class="mt-m ml-0">
      <a href="#default-returns-address">Default returns address</a>
    </li>
    <li class="mt-m ml-0">
      <a href="#default-shipping-address">Default shipping address</a>
    </li>
    <li class="mt-m ml-0">
      <a href="#invoice-address">Invoice address</a>
    </li>
    <li class="mt-m ml-0">
      <a href="#me">me</a>
    </li>
    <li class="mt-m ml-0">
      <a href="#orders">Orders</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#create-an-order">Create</a></li>
        <li class="nav--level-2"><a href="#getting-a-list-of-orders">Index</a></li>
        <li class="nav--level-2"><a href="#getting-information-about-an-order">Read</a></li>
      </ul>
    </li>
    <li class="mt-m ml-0">
      <a href="#pickup-requests">Pickup Requests</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#requesting-a-pickup">Create</a></li>
        <li class="nav--level-2"><a href="#getting-a-list-of-pickup-requests">Index</a></li>
        <li class="nav--level-2"><a href="#getting-information-about-a-pickup-request">Read</a></li>
      </ul>
    </li>
    <li class="mt-m ml-0">
      <a href="#rates">Rates</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#getting-the-rate-for-a-package">Get rate for a package</a></li>
      </ul>
    </li>
    <li class="mt-m ml-0">
      <a href="#shipments">Shipments</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#creating-a-shipment">Create</a></li>
        <li class="nav--level-2"><a href="#getting-a-list-of-shipments">Index</a></li>
        <li class="nav--level-2"><a href="#getting-information-about-a-shipment">Read</a></li>
        <li class="nav--level-2"><a href="#updating-a-shipment">Update</a></li>
        <li class="nav--level-2"><a href="#deleting-a-shipment">Delete</a></li>
      </ul>
    </li>
    <li class="mt-m ml-0">
      <a href="#shipment-quotes">Shipment Quotes</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#creating-a-shipment-quote">Create</a></li>
      </ul>
    </li>
    <li class="mt-m ml-0">
      <a href="#trackers">Trackers</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#creating-a-tracker">Create</a></li>
        <li class="nav--level-2"><a href="#getting-a-list-of-trackers">Index</a></li>
        <li class="nav--level-2"><a href="#show-a-tracker">Read</a></li>
      </ul>
    </li>
    <li class="mt-m ml-0">
      <a href="#webhooks">Webhooks</a>
      <ul class="nav">
        <li class="nav--level-2"><a href="#creating-a-webhook">Create</a></li>
        <li class="nav--level-2"><a href="#getting-a-list-of-webhooks">Index</a></li>
        <li class="nav--level-2"><a href="#show-a-webhook">Read</a></li>
        <li class="nav--level-2"><a href="#deleting-a-webhook">Delete</a></li>
      </ul>
    </li>
  </ul>
</nav>
