<div id="sub-nav" data-spy="affix">
  <ul class="nav">
    <li>
      <a href="#http-status-codes">http status codes</a>
    </li>
    <li>
      <a href="#shipments">Shipments</a>
      <ul class="nav">
        <li><a href="#creating-a-shipment">Create</a></li>
        <li><a href="#getting-information-about-a-shipment">Read</a></li>
        <li><a href="#updating-a-shipment">Update</a></li>
        <li><a href="#deleting-a-shipment">Delete</a></li>
      </ul>
    </li>
    <li>
      <a href="#carriers">Carriers</a>
      <ul class="nav">
        <li><a href="#get-all-carriers-available-for-your-account">All carriers</a></li>
      </ul>
    </li>
    <li>
      <a href="#rates">Rates</a>
      <ul class="nav">
        <li><a href="#getting-the-rate-for-a-package">Get rate for a package</a></li>
      </ul>
    </li>
    <li>
      <a href="#pickup-requests">Pickup Requests</a>
      <ul class="nav">
        <li><a href="#requesting-pickup">Requesting pickup</a></li>
      </ul>
    </li>
  </ul>
</div>
