<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="bg-white" data-offset="90">
    {% include google_tag_manager_body.html %}

    {% include header.html %}

    <div class="DocSearch-content">
      {% include navs/main.html %}
      <div class="flex ml-56 pt-16">
        <div class="block px-4 pb-xl w-7/12">
          <div class="p-l pb-xl">
            {{ content }}
          </div>
        </div>
        <div class="min-h-screen max-h-full bg-blue-dark px-4 w-4/12 pb-24 flex-grow">
          <div class="pb-xl">
            {% if page.nav == "carriers" %}
              {% include utils/carrier_subnav.html carrier=page.carrier %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ "/assets/js/utils.js" | prepend: site.baseurl }}"></script>
    {% include js_files.html %}
  </body>
</html>
