<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="bg-white" data-offset="90">
    {% include google_tag_manager_body.html %}

    {% include header.html %}

    <div class="DocSearch-content">
      {% include navs/main.html %}
      <div class="flex ml-56 pt-16">
        <div class="block w-full">
          <div class="p-l pb-xl">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ "/assets/js/utils.js" | prepend: site.baseurl }}"></script>
    {% include js_files.html %}
  </body>
</html>
