<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target="#sub-nav" data-offset="90">

    {% include header.html %}

    <div class="full-page-content">
      <div class="row">
        {% if page.nav %}
          <div class="col-md-9">
            {{ content }}
          </div>
          <div class="col-md-3">
            {% if page.nav == "reference" %}
              {% include navs/reference_nav.html %}
            {% elsif page.nav == "concepts" %}
              {% include navs/concepts_nav.html %}
            {% elsif page.nav == "recipes" %}
              {% include navs/recipes_nav.html %}
            {% endif %}
          </div>
        {% else %}
          <div class="col-md-12">
            {{ content }}
          </div>
        {% endif %}
      </div>
      {% include edit_on_github.html %}
    </div>

    {% include footer.html %}
    {% include google_analytics.html %}
  </body>

</html>
