<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">cURL</h3>
  </div>
  <div class="panel-body">
    <h3>Creating a new shipment</h3>
    <p>
      This is a full sized example. You can omit the from parameters if you define a standard ship from address in
      the shipcloud backoffice.
    </p>
{% highlight bash %}
curl -u {{ site.apikey }}: https://api.shipcloud.io/v1/shipments \
  -d "to[company]=Musterfirma" \
  -d "to[first_name]=Hans" \
  -d "to[last_name]=Meier" \
  -d "to[street]=Musterstraße" \
  -d "to[street_no]=22" \
  -d "to[city]=Musterstadt" \
  -d "to[zip_code]=12345" \
  -d "to[country]=Deutschland" \
  -d "from[company]=Gewuerze Paderborn" \
  -d "from[first_name]=Karl" \
  -d "from[last_name]=Müller" \
  -d "from[street]=Musterstraße" \
  -d "from[street_no]=14a" \
  -d "from[city]=Paderborn" \
  -d "from[zip_code]=33089" \
  -d "from[country]=Deutschland" \
  -d "carrier=dhl" \
  -d "package[weight]=1.5" \
  -d "package[length]=10" \
  -d "package[width]=6" \
  -d "package[height]=8" \
  -d "service=standard" \
  -d "create_shipping_label=true"
{% endhighlight %}

  <h3>Creating a dhl bulk freight shipment</h3>
  <p>
    Shipments that don't fall into the normal dimensions can be send by specifying them as bulk
    items. For this you'll have to specify the <code>package_type</code> at the package object as
    bulk. When doing this you won't have to specify the length, width or height of your package.
  </p>
{% highlight bash %}
curl -u {{ site.apikey }}: https://api.shipcloud.io/v1/shipments \
  -d "to[company]=Musterfirma" \
  -d "to[first_name]=Hans" \
  -d "to[last_name]=Meier" \
  -d "to[street]=Musterstraße" \
  -d "to[street_no]=22" \
  -d "to[city]=Musterstadt" \
  -d "to[zip_code]=12345" \
  -d "to[country]=Deutschland" \
  -d "carrier=dhl" \
  -d "package[weight]=0.5" \
  -d "package[package_type]=bulk" \
  -d "service=standard" \
  -d "create_shipping_label=true"
{% endhighlight %}

  <h3>Creating a dpd parcel letter shipment</h3>
  <p>
    When sending shipments with DPD you can specify a <code>package_type</code> at the package
    object. As DPD defines parcel letters as "everything which is too small for a parcel but larger
    and heavier than a classical letter"
    <a href="http://www.dpd.com/de_en/home/produkte_services/special_services/dpd_parcelletter">(more information about parcel letters)</a>.
  </p>
{% highlight bash %}
curl -u {{ site.apikey }}: https://api.shipcloud.io/v1/shipments \
  -d "to[company]=Musterfirma" \
  -d "to[first_name]=Hans" \
  -d "to[last_name]=Meier" \
  -d "to[street]=Musterstraße" \
  -d "to[street_no]=22" \
  -d "to[city]=Musterstadt" \
  -d "to[zip_code]=12345" \
  -d "to[country]=Deutschland" \
  -d "carrier=dpd" \
  -d "package[weight]=0.5" \
  -d "package[length]=25" \
  -d "package[width]=36" \
  -d "package[height]=5" \
  -d "package[package_type]=parcel_letter" \
  -d "service=standard" \
  -d "create_shipping_label=true"
{% endhighlight %}
    <h3>Getting infos about a shipment</h3>
      {% highlight bash %}
        curl -u {{ site.apikey }}: https://api.shipcloud.io/v1/shipments/665d5287b73575cfba622a4b5094c6fd2f0f3f74
      {% endhighlight %}
    <h3>Updating a shipment</h3>
    <p>
      Updating shipments is only possible if you haven't created a label by setting <code>create_shipping_label=true</code>
    </p>
{% highlight bash %}
curl -X PUT -u {{ site.apikey }}: https://api.shipcloud.io/v1/shipments/665d5287b73575cfba622a4b5094c6fd2f0f3f74 \
  -d "to[last_name]=Meier" \
  -d "to[street]=Musterstraße" \
  -d "to[street_no]=22" \
  -d "to[city]=Musterstadt" \
  -d "to[zip_code]=12345" \
  -d "to[country]=Deutschland" \
  -d "from[company]=Gewuerze Paderborn" \
  -d "from[first_name]=Karl" \
  -d "from[last_name]=Müller" \
  -d "from[street]=Musterstraße" \
  -d "from[street_no]=14a" \
  -d "from[city]=Paderborn" \
  -d "from[zip_code]=33089" \
  -d "from[country]=Deutschland" \
  -d "carrier=dhl" \
  -d "package[weight]=1.5" \
  -d "package[length]=10" \
  -d "package[width]=6" \
  -d "package[height]=8"
{% endhighlight %}
    <h3>Getting the rate for a package</h3>
{% highlight bash %}
curl -u {{ site.apikey }}: https://api.shipcloud.io/v1/rates \
  -d "carrier=hermes" \
  -d "weight=1.5" \
  -d "length=10" \
  -d "width=6" \
  -d "height=8"
{% endhighlight %}
    <h3>Getting all available carriers for the account</h3>
    {% highlight bash %}
      curl -u {{ site.apikey }}: https://api.shipcloud.io/v1/carriers
    {% endhighlight %}
  </div>
</div>
