<h3 id="setup" class="text-blue">
  Setup
</h3>

<p class="my-m">
  Before using the shipcloud API, you need to set the API access key:
</p>

{% highlight ruby %}
Shipcloud.api_key = '{{ site.apikey }}'
{% endhighlight %}

<p class="my-m">
  Since Version 0.3.0, you can also do this via a configuration block, e.g. in an initializer:
</p>

{% highlight ruby %}
Shipcloud.configure do |config|
  config.api_key = '{{ site.apikey }}'
end
{% endhighlight %}

<h3 id="creating-a-new-shipment" class="mt-l text-blue">
  Creating a new shipment
</h3>
<p class="my-m">
  To create a new shipment on the shipclod platform, you need to provide the name of the carrier, to
  and from address, and the package dimensions. For details, see our
  <a href="/reference">API reference</a>.
</p>

{% highlight ruby %}
Shipcloud::Shipment.create(
  carrier: 'ups',
  from: from-address-params,
  to: to-address-params,
  package: package-params,
  create_shipping_label: true
)
{% endhighlight %}

<p class="my-m">
  <code>Shipment#create</code> will return shipping label and tracking information, encapsulated in
  a <code>Shipcloud::Shipment</code> object:
</p>

{% highlight ruby %}
shipment = Shipcloud::Shipment.create(...) # parameters ommitted
shipment.tracking_url # -> http://track.shipcloud.io/86afb143f9c9c0cfd4eb7a7c26a5c616585a6271
{% endhighlight %}
